{#
    @file
    api_clima.html.twig

	Available variables:
 		- title: titulo de la página
		- clima: El clima de la región
#}
<div class="container">
		<h1 class= "title">Es el siguiente: </h1>
	<div class= "sub-container"> 
		<div id="resultados">
			
		</div>
	</div>
</div>
