{#
    @file
    lenguaje_favorito.html.twig

	Available variables:
 		- title: titulo de la página
		- lenguaje: El lenguaje favorito

#}
<div class="container">
		<h1 class= "title">Es el siguiente: </h1>
	<div class= "sub-container"> 
		<p class="text">{{ lenguaje }}</p>
	</div>
</div>
